*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: cadetblue;
    padding: 2rem;
    font-family: sans-serif;
}

section {
    padding: 2.5rem 0;
    text-align: center;
}

h4 {
    padding-bottom: 1rem;
}

button {
    font-weight: bold;
    padding: .5rem 1rem;
    border: none;
    margin: 0 1rem;
    outline: none !important;
}

/*Facebook style buttons*/

.btn-face {
    padding: .5rem .8rem;
    border-radius: 2px;
}

.btn-face--dark {
    box-shadow: inset 0 1px 0 #4d73bf;
    background-color: #4267b2;
    border: 1px solid #4267b2;
    color: #ffffff;
    text-shadow: 0 1px 0 #3359a5;
}

.btn-face--dark:hover {
    background-color: #2b54a7;
}

.btn-face--dark:active {
    background-color: #1d4698;
    border-color: #1d4698;
}

.btn-face--light {
    background: #f6f7f9;
    border: solid 1px #ced0d4;
    color: #4b4f56;
}

.btn-face--light:hover {
    background: #e9ebee;
}

.btn-face--light:active {
    background: #d8dade;
}

/*3d  STYLES BUTTON*/
.btn-3d {
    cursor: pointer;
    border: none;
    height: 7rem;
    width: 7rem;
    font-size: 1rem;
    border-radius: 50%;
    outline: none !important;
}

.btn-3d--1 {
    background: radial-gradient(darkseagreen, mediumseagreen);
    color: #ffffff;
    transition: transform .3s, box-shadow .3s, background .3s;
}

.btn-3d--1:hover {
    background: radial-gradient(#83b083, #3fae69);
    box-shadow: .5rem .5rem .7rem rgba(0, 0, 0, .5);
}

.btn-3d--1:active {
    box-shadow: 1px 1px .2rem black;
    transform: translateY(7px);
}

.btn-3d--2 {
    position: relative;
    background: radial-gradient(white, grey);
    box-shadow: inset 0 1px 0 darkblue,
    0 2px darkblue,
    0 3px darkblue,
    0 4px darkblue,
    0 5px darkblue,
    0 6px darkblue,
    0 7px darkblue,
    0 8px darkblue,
    0 9px darkblue;
    transition: box-shadow .3s, transform .3s;
}

.btn-3d--2:hover {

}

.btn-3d--2:active {
    box-shadow: inset 0 1px 0 darkblue,
    0 2px darkblue,
    0 3px darkblue,
    0 4px darkblue,
    0 5px darkblue;
    transform: translateY(5px);
}

/*GRADIENT BORDERED BUTTONS*/
.btn-gradient {
    border: .3rem solid;
    font-size: 1rem;
}

.btn-gradient--1 {
    border-image: linear-gradient(to right, red, yellow);
    border-image-slice: 1;
    font-weight: bold;
    color: orangered;
    transition: all 1s;
}

.btn-gradient--1:hover {
    background-image: linear-gradient(to right, red, yellow);
    color: white;
}

.btn-gradient--1:active {
    background-image: linear-gradient(to right, #d40000, yellow);
    border-image: linear-gradient(to right, #d40000, yellow);
    border-image-slice: 1;
}

.btn-gradient--2 {
    position: relative;
    /*border: 2px solid transparent;*/
    /*border-image: linear-gradient(to right, red, transparent);*/
    /*border-image-slice: 1;*/
    border: none;
    border-right: none;
    border-radius: 3px;
    overflow: hidden;
    padding: .6rem 2rem;
    transition: all .4s;
    z-index: 0;
}

.btn-gradient--2:hover {
    color: white;
    text-shadow: .1rem .1rem black;
}

.btn-gradient--2::before {
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-image: linear-gradient(to right, red, transparent);
    transition: left .4s;
}

.btn-gradient--2:hover::before {
    left: 0;
}

/*ANIMATED BUTTONS*/
.btn-anim--2 {
    position: relative;
    padding: .6rem 2rem;
    border-radius: 3px;
}

.btn-anim--text {
    display: inline-block;
    transition: all .4s;
}

.btn-anim--2:hover .btn-anim--text {
    transform: translateX(-.7rem);
}

.btn-anim--arrow {
    position: absolute;
    transform: translateX(.7rem);
    transition: all .4s;
    opacity: 0;
}

.btn-anim--2:hover .btn-anim--arrow {
    transform: translateX(0);
    opacity: 1;
}

/*Card transition with button and text*/
.bilet {
    margin: 0 auto;
    height: 30rem;
    width: 20rem;
    background: mediumseagreen;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.bilet img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.bilet--2 {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    /*height: 30rem;*/
    height: 0;
    width: 20rem;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent, rgba(0,0,0,.5));
    position: absolute;
    transform-origin: bottom;
    transition: all .7s;
}

.bilet--2__box-info {
    text-align: center;
    /*opacity: 0;*/

}

.bilet--2__box-info h3 {
    opacity: 0;
    transform: translateY(5.5rem);
    transition: transform .3s .1s, opacity .6s;
    color: white;
}

.bilet--2__box-info button {
    position: relative;
    z-index: 1;
    opacity: 0;
    padding: 1rem 2.7rem;
    margin: 1.7rem 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transform:  translateY(5.5rem) ;
    transition: transform .3s, opacity .6s .1s;
}

.bilet--2__box-info button::before {
    display: block;
    position: absolute;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    border-radius: 50px;
    transition: all .5s;
}

.bilet--2__box-info button:hover::before {
    transform: scale(1.5);
    opacity: 0;
}

.bilet:hover .bilet--2 {
    height: 100%;
}

.bilet:hover .bilet--2__box-info {
    /*transform: translateY(-5rem);*/
    opacity: 1;
}

.bilet:hover .bilet--2__box-info button {
    transform: translateY(0);
    opacity: 1;
}

.bilet:hover .bilet--2__box-info h3 {
    transform: translateY(0);
    opacity: 1;
}







